[v-cloak] {
   display:none;
}
hr{
   max-width: 100%;
}

/* *** GENERAL STYLES *** */
.main_container {
   width: 950px;
   margin-left: auto;
   margin-right: auto;
}

.hidden_now {
   display: none;
}
.hidden_phone {
   display: block;
}
.position_relative {
   position: relative;
}
.open_menu{
    display:none;
}

/* *** HEADER *** */
header {
   margin-top: 20px;
   margin-bottom: 20px; 
}
.site_logo {
   width: 173px;
}
.social_icons {
   a {
      margin-right: 5px;
      margin-left: 5px;
      display: block;
      float: left;
   }
   .fa {
      font-size: 28px;
      line-height: normal;
   }
}
.header_newsletter_container {
   .newsletter_input {
      margin: 0;
      margin-left: 5px;
      padding: 2px;
      height: 25px;
      float: left;
      border-radius: 5px 0px 0px 5px;
      border: 1px solid #ccc;
   }  
}
.main_menu {
   .main_nav {
      margin: 15px -25px 0 -25px;
      padding-left: 0;
      list-style: none;
   }
   .main_nav > li {
      padding: 8px 25px;
      float: left;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
   }
   .main_nav > li a {
      font-weight: 400;
      color: #7e7e7e;
      text-transform: uppercase;
   }
   .dropdown.open {
      background: #000;
   }
   .dropdown-menu {
      margin: 0;
      min-width: 100%;
      width: 100%;
      border-radius: 0;
      border-top: 1px solid #fff;
      background: #000;
      li {
         padding: 0 10px;
      }
      a {
         padding: 3px;
         font-size: 12px;
         font-weight: 400 !important;
         color: #fff !important;
      }
   }
}